<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>evocadx-dayan-mdp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>evocadx-dayan-signal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>evocadx-dayan-temporal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>evocadx-lidx-classify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>evocadx-png-centroid.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>lidxgen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>mnist2lidx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>test-png.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4256FAFE1892D5EE004AB7F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4279E9C3189ADF4C0071EDCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42FAF72419488A050013939A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42FAF73019488A320013939A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42FAF73B19488A3D0013939A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42FAF74619488A570013939A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42FAF75119488A8E0013939A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42FAF76319488AF80013939A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42FAF76F19488B140013939A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
